In [1]:
import pandas as pd
import numpy as np

d = pd.read_csv('data.csv')
d

   S.No.  Data Detail
0      1     2      A
1      2     4      B
2      3     6      C
3      4     8      D
4      5    10      E
5      6    12      F
6      7    14      G
7      8    16      H
8      9    18      I
9     10    20      J

In [6]:
d.iloc[-1::-1]

   S.No.  Data Detail
9     10    20      J
8      9    18      I
7      8    16      H
6      7    14      G
5      6    12      F
4      5    10      E
3      4     8      D
2      3     6      C
1      2     4      B
0      1     2      A

In [10]:
d.iloc[0,0]

1

In [15]:
d1 = np.array(d['Data'])
d1

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20], dtype=int64)

In [16]:
x = np.sum(d1)

In [4]:
m,n = tuple(map(int,input().split()))
print(m*n)

12